* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search-wrapper {
    justify-content: flex-end;    
}

.header .container {
    background-color: gray;
    color: white;
}
footer {
    color: white;
    text-align: center;
    background-color:  gray;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
}