* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:hover { text-decoration: none; }
.search-wrapper {
    justify-content: flex-end;    
}

.header .container {
    background-color: gray;
    color: white;
}
.form { position: relative; }
.search-ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    padding-right:  .5rem;
    background-color: #fff;
    border: 1px solid grey;
    list-style: none;
    z-index: 1;
    li {
        padding: 0 15px;
        &:last-child a { border-bottom: none; }
    }
    a {
        display: block;
        padding: 10px;
        color: grey;
        border-bottom: 1px solid grey;
    }
}
.main-wrapper h1 {
    margin: 30px 0;
    text-align: center;
}
.wrapper { padding: 0 10%; }
.box {
    display: flex;
    justify-content: center;
    text-align: center;
}
.box-title { border: 1px solid grey; }
footer {
    color: white;
    text-align: center;
    background-color:  gray;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
}
.main-img {
    width: 50%;
    height: 100%;
}
.aside {
    padding: 20px;
    li { list-style-position: inside; padding-left: 10px;  }
}
.wrapper-bottom { padding: 30px 0; }